In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
df['Age'].interpolate()

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    22.5
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [6]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
df['Age'].std()

14.526497332334044

In [8]:
# lets do random sample impute on the Age Column
Age_notnull = df[df['Age'].notnull()]['Age']

In [9]:
# Taking out a random sample of Age with length equal to count of null values
Random_Sample = Age_notnull.sample(df['Age'].isnull().sum())

In [10]:
#Index of null values
Age_nullindex = df[df['Age'].isnull()]['Age'].index
Age_nullindex

Int64Index([  5,  17,  19,  26,  28,  29,  31,  32,  36,  42,
            ...
            832, 837, 839, 846, 849, 859, 863, 868, 878, 888],
           dtype='int64', length=177)

In [11]:
Random_Sample.values

array([35.  , 19.  , 18.  , 44.  , 39.  , 42.  , 24.  , 61.  , 32.  ,
       40.  , 50.  , 20.  , 28.  , 34.  , 46.  , 19.  , 19.  , 25.  ,
       22.  , 47.  , 38.  , 15.  , 36.  , 60.  , 29.  , 35.  , 51.  ,
       23.  , 16.  , 16.  , 35.  , 23.  , 31.  , 31.  , 40.  , 26.  ,
        4.  , 22.  ,  5.  , 28.  ,  4.  , 18.  , 24.  ,  2.  , 53.  ,
       16.  , 31.  , 27.  , 28.  ,  0.42, 47.  , 25.  , 16.  ,  9.  ,
       24.  , 47.  , 16.  , 36.  , 17.  , 58.  , 14.5 , 31.  , 50.  ,
       49.  , 19.  , 34.  , 31.  , 26.  ,  3.  , 45.  , 34.  , 32.  ,
       28.  , 29.  , 55.  , 20.5 , 58.  , 16.  , 15.  , 30.  , 29.  ,
       22.  , 37.  , 39.  , 37.  , 39.  , 23.  , 54.  , 42.  , 35.  ,
       32.5 , 22.  , 49.  , 18.  ,  5.  , 18.  , 42.  , 30.  , 24.  ,
       35.  , 22.  , 32.  , 22.  , 23.  , 70.  ,  0.75, 50.  , 34.  ,
       28.  , 45.  , 26.  , 16.  , 44.  , 36.  , 33.  , 42.  ,  9.  ,
       32.  , 28.  , 54.  , 32.  ,  5.  , 30.  , 41.  , 34.  , 20.  ,
       40.  ,  6.  , 27.  ,  4.  , 45.  , 19.  , 30.  , 10.  , 19.  ,
       42.  , 34.  , 41.  , 35.  , 26.  , 66.  , 21.  ,  8.  , 47.  ,
       17.  , 24.  ,  9.  , 24.  , 39.  ,  4.  , 36.  , 47.  , 25.  ,
       36.  , 54.  , 34.  , 27.  , 17.  , 40.  , 35.  , 36.  , 45.  ,
       45.  , 52.  , 19.  , 45.  , 48.  , 24.  , 51.  , 40.  , 42.  ,
        1.  , 49.  , 18.  , 27.  , 48.  , 15.  ])

In [12]:
df['Age'].iloc[Age_nullindex] = Random_Sample.values

C:\Users\YASHK\AppData\Local\Temp\ipykernel_22356\1675047039.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'].iloc[Age_nullindex] = Random_Sample.values

In [13]:
df['Age'].std()

14.506613715502777

In [14]:
# One important thing to note is that the Standard Deviation of the Age changes only slightly after the imputation is performed.

In [15]:
df.dropna(subset=['Embarked']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB

In [17]:
#Lets jump onto the Cabin column
df['Cabin_new'] =  df['Cabin'].str.split('/')

In [18]:
df['Cabin_new']

0         NaN
1       [C85]
2         NaN
3      [C123]
4         NaN
        ...
886       NaN
887     [B42]
888       NaN
889    [C148]
890       NaN
Name: Cabin_new, Length: 891, dtype: object

In [22]:
df['Age'].quantile(0.75)

39.0

In [27]:
data = df.copy
data

<bound method NDFrame.copy of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female  15.0      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked Cabin_new
0        0         A/5 21171   7.2500   NaN        S       NaN
1        0          PC 17599  71.2833   C85        C     [C85]
2        0  STON/O2. 3101282   7.9250   NaN        S       NaN
3        0            113803  53.1000  C123        S    [C123]
4        0            373450   8.0500   NaN        S       NaN
..     ...               ...      ...   ...      ...       ...
886      0            211536  13.0000   NaN        S       NaN
887      0            112053  30.0000   B42        S     [B42]
888      2        W./C. 6607  23.4500   NaN        S       NaN
889      0            111369  30.0000  C148        C    [C148]
890      0            370376   7.7500   NaN        Q       NaN

[891 rows x 13 columns]>

(891,)

In [50]:
from sklearn.ensemble import IsolationForest
model = IsolationForest(max_samples=100, random_state=101)
model.fit(df['Age'].values)

ValueError: Expected 2D array, got 1D array instead:
array=[22.   38.   26.   35.   35.   35.   54.    2.   27.   14.    4.   58.
 20.   39.   14.   55.    2.   19.   31.   18.   35.   34.   15.   28.
  8.   38.   44.   19.   39.   42.   40.   24.   61.   66.   28.   42.
 32.   21.   18.   14.   40.   27.   40.    3.   19.   50.   20.   28.
 34.   18.    7.   21.   49.   29.   65.   46.   21.   28.5   5.   11.
 22.   38.   45.    4.   19.   19.   29.   19.   17.   26.   32.   16.
 21.   26.   32.   25.   25.   22.    0.83 30.   22.   29.   47.   28.
 17.   33.   16.   38.   23.   24.   29.   20.   46.   26.   59.   15.
 71.   23.   34.   34.   28.   36.   21.   33.   37.   28.   21.   60.
 38.   29.   47.   14.5  22.   20.   17.   21.   70.5  29.   24.    2.
 21.   35.   32.5  32.5  54.   12.   51.   24.   23.   45.   33.   20.
 47.   29.   25.   23.   19.   37.   16.   24.   16.   22.   24.   19.
 18.   19.   27.    9.   36.5  42.   51.   22.   55.5  40.5  16.   51.
 16.   30.   35.   23.   44.   40.   26.   17.    1.    9.   31.   45.
 31.   28.   61.    4.    1.   21.   56.   18.   40.   50.   30.   36.
 26.    4.    9.    1.    4.   22.    5.   45.   40.   36.   32.   19.
 19.    3.   44.   58.   28.   42.    4.   24.   28.   18.   34.   45.5
 18.    2.   32.   26.   16.   40.   24.   35.   22.   30.   24.   31.
 27.   42.   32.   30.   16.   27.   51.    2.   38.   22.   19.   20.5
 18.   53.   35.   29.   59.    5.   24.   16.   44.    8.   19.   33.
 31.   27.   29.   22.   30.   44.   25.   24.   37.   54.   28.   29.
 62.   30.   41.   29.    0.42 30.   35.   50.   47.    3.   52.   40.
 25.   36.   16.   25.   58.   35.   16.   25.   41.   37.    9.   63.
 45.   24.    7.   35.   65.   28.   16.   19.   47.   33.   30.   22.
 42.   22.   26.   19.   36.   24.   24.   16.   23.5   2.   36.   50.
 17.   58.   19.   14.5  31.    0.92 50.   17.   30.   30.   24.   18.
 26.   28.   43.   26.   24.   54.   31.   40.   22.   27.   30.   22.
 49.   36.   61.   36.   31.   16.   19.   45.5  38.   16.   34.   31.
 29.   41.   45.   45.    2.   24.   28.   25.   36.   24.   40.   26.
  3.   42.   23.    3.   15.   25.   45.   28.   22.   38.   34.   32.
 40.   29.   45.   35.   28.   30.   60.   29.   55.   24.   25.   18.
 19.   22.    3.   20.5  22.   27.   20.   19.   42.    1.   32.   35.
 58.   18.    1.   36.   16.   17.   36.   21.   28.   23.   24.   22.
 31.   46.   23.   28.   39.   26.   21.   28.   20.   34.   51.    3.
 21.   15.   30.   29.   33.   22.   44.   37.   34.   18.   30.   10.
 39.   21.   29.   28.   18.   37.   28.   19.   39.   32.   28.   23.
 42.   17.   50.   14.   21.   24.   64.   31.   45.   20.   25.   28.
 54.    4.   13.   34.    5.   52.   36.   42.   30.   49.   35.   29.
 65.   32.5  50.   22.   48.   34.   47.   48.   49.   38.   18.   56.
  5.    0.75 18.   38.   33.   23.   22.   42.   34.   29.   22.    2.
  9.   30.   50.   63.   25.   24.   35.   58.   30.    9.   35.   21.
 55.   71.   21.   22.   54.   32.   25.   24.   17.   21.   22.   37.
 16.   18.   33.   23.   28.   26.   29.   70.   36.   54.   24.   47.
 34.    0.75 36.   32.   30.   22.   50.   44.   34.   40.5  50.   28.
 39.   23.    2.   45.   17.   26.   30.    7.   45.   30.   16.   22.
 36.    9.   11.   32.   50.   64.   19.   44.   33.    8.   17.   27.
 36.   22.   22.   62.   48.   33.   39.   36.   42.   40.   28.    9.
 32.   24.   19.   29.   28.   32.   62.   53.   36.   54.   16.   19.
 34.   39.   32.   32.   25.   39.   54.   36.    5.   18.   47.   60.
 22.   30.   35.   52.   47.   41.   37.   36.   34.   49.   20.   49.
 24.   40.    6.   44.   35.   36.   30.   27.   22.   40.   39.   27.
  4.   45.   35.   24.   34.   26.    4.   26.   27.   42.   20.   21.
 21.   61.   57.   21.   26.   19.   80.   51.   32.   30.    9.   28.
 32.   31.   41.   10.   20.   24.    2.   19.    0.75 48.   19.   56.
 42.   23.   34.   18.   21.   41.   18.   24.   35.   32.   23.   58.
 50.   40.   47.   36.   20.   32.   25.   26.   43.   66.   40.   31.
 70.   31.   21.   18.   24.5  18.   43.   36.    8.   27.   20.   14.
 60.   25.   14.   19.   18.   15.   31.    4.   47.   25.   60.   52.
 44.   17.   49.   42.   18.   35.   18.   25.   26.   39.   45.   42.
 22.   24.   24.    9.   48.   29.   52.   19.   38.   27.   24.   33.
  6.   17.   34.   50.   27.   20.   30.   39.   25.   25.   29.   11.
  4.   23.   23.   28.5  48.   35.   36.   47.   25.   36.   21.   24.
 31.   70.   16.   30.   19.   31.    4.    6.   33.   23.   48.    0.67
 28.   18.   34.   33.   36.   41.   20.   36.   16.   51.   54.   30.5
 34.   32.   24.   48.   57.   27.   54.   18.   17.    5.   40.   43.
 13.   17.   29.   35.   25.   25.   18.    8.    1.   46.   36.   16.
 45.   45.   25.   39.   49.   31.   30.   30.   34.   31.   11.    0.42
 27.   31.   39.   18.   39.   33.   26.   39.   35.    6.   30.5  52.
 23.   31.   43.   10.   52.   27.   38.   27.    2.   19.   45.    1.
 48.   62.   15.    0.83 24.   23.   18.   39.   21.   51.   32.   40.
 20.   16.   30.   34.5  17.   42.   42.   35.   28.    1.    4.   74.
  9.   16.   44.   18.   45.   51.   24.   49.   41.   21.   48.   18.
 24.   42.   27.   31.   27.    4.   26.   47.   33.   47.   28.   15.
 20.   19.   48.   56.   25.   33.   22.   28.   25.   39.   27.   19.
 15.   26.   32.  ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

# Hypotheses Testing
H0 = Average age of males and females are same ,

HA = Average age of males and females are different

In [29]:
from scipy import stats

In [20]:
df['Age'].dropna()

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
885    39.0
886    27.0
887    19.0
889    26.0
890    32.0
Name: Age, Length: 714, dtype: float64

In [21]:
males_age = df[df['Sex']=='male']['Age'].dropna().values
females_age = df[df['Sex']=='female']['Age'].dropna().values

In [39]:
males_sample = np.random.choice(males_age,50)
females_sample = np.random.choice(females_age,50)

In [40]:
from scipy.stats import shapiro,levene

In [41]:
print(shapiro(males_sample))
print(shapiro(females_sample))

ShapiroResult(statistic=0.9594600796699524, pvalue=0.08438032865524292)
ShapiroResult(statistic=0.9724100232124329, pvalue=0.2892812192440033)

Shapiro test for both samples implies normal districutions.

In [42]:
print(levene(males_sample,females_sample))

LeveneResult(statistic=2.1261511831689544, pvalue=0.1480013344170432)

Levene test implies homosckedasticity

In [43]:
stats.ttest_ind(males_sample, females_sample,alternative='greater')

Ttest_indResult(statistic=-0.061357645644448885, pvalue=0.5244003281907902)

Since pvalue > 0.05, we cannot reject the null hypothesis. Hence, average age of male is not significantly greater than females.

In [31]:
males_age.mean()

30.72664459161148

In [32]:
females_age.mean()

27.915708812260537

In [45]:
stats.chi2.sf(1,5)

0.9625657732472964

In [50]:
df['Pclass'].value_counts().values

array([491, 216, 184], dtype=int64)

In [49]:
df['Pclass'].sum()

2057

In [53]:
chisquare(df['Pclass'].value_counts().values,[297,297,297])

Power_divergenceResult(statistic=191.8047138047138, pvalue=2.2394202231028854e-42)

In [52]:
from scipy.stats import chisquare